:root{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    --bg-color3: rgb(86, 28, 36);
    --bg-color4: rgb(255, 84, 107);
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, var(--bg-color3), var(--bg-color4))
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*header section*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

a {
    color: inherit;
    text-decoration: none;
}

/*content*/
.pic {
    width: 250px;
    height: 250px;
    background-image: url("images/pic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.about {
    width: 60%;
}

/*main content*/
.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content,
.skillcontent,
.exp,
.contacts {
    width: 80%;
    height: 80%;
}

.skillcontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    padding: 5%;
}

.skills {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 0 5%;
}

.lists {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 25px;
}

.skills img {
    width: 20px;
    height: 20px;
}

.points {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 7.5px;
}

.points p {
    padding: 0px 5px;
    margin: 0;
}

.exp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10% 0;
}

.contact:nth-child(2) {
    display: grid;
    align-self: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    height: 80%;
}

.clicks {
    width: 50px;
    height: 50px;
}

/*responsiveness*/
@media only screen and (max-width:1200px){
    .skillcontent{
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-items: center;
        height: max-content;
    }
    .skills{
        padding: 5% 10%;
        width: 70%;
    }
}

@media only screen and (max-width:1000px){
    .content{
        flex-direction: column;
    }
    .pic{
        width: 200px;
        height: 200px;
    }
    .about{
        text-align: center;
    }
}

@media only screen and (max-width:850px){
    .pic{
        width: 150px;
        height: 150px;
    }
    .skillcontent{
        grid-template-columns: 1fr;
    }
    .contact{
        text-align: center;
        padding: 0%;
    }
    .contacts{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .contact:nth-child(2) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:850px){
    .clicks{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width:850px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
}