{% extends 'index.html' %}

{% block content %}
<div class="contacts">
    <div class="contact">
        <h2>All the contact details here are 100% legit. You'll get a reply faster than you can scroll through your feed!</h2>
    </div>
    <div class="contact">
        <div class="clicks"><a href=""><img src="../static/images/facebook.svg" ></a></div>
        <div class="clicks"><a href=""><img src="../static/images/instagram.svg"></a></div>
        <div class="clicks"><a><img src="../static/images/linkedin.svg"></a></div>
        <div class="clicks"><a mailto="sanjay@159000@gmail.com"><img src="../static/images/gmail.svg"></a></div>
        <div class="clicks"><a href=""><img src="../static/images/whats-app.svg"></a></div>
        <div class="clicks"><a href=""><img src="../static/images/icons8-github.svg"></a></div>
     </div>
</div>
{% endblock %}